[settings]
known_third_party = IPython,PIL,autolab_core,cupoch,cv2,matplotlib,mpl_toolkits,numba,numpy,open3d,pytorch3d,scipy,skimage,sklearn,tensorboardX,torch,torchsummary,torchvision,tqdm,transforms3d,trimesh
